<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://cdn-icons-png.flaticon.com/512/864/864818.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if current_user %>
          <li class="nav-item active">
            <%= link_to "My Lists", lists_path, class: "nav-link" %>
          </li>
          <% if controller_name == "lists" %>
            <li class="nav-item">
              <!-- Button trigger modal -->
              <button type="button" class="nav-link border-0 bg-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                New List
              </button>
            </li>
          <% end %>
          <li class="nav-item">
            <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "nav-link border-0 bg-white" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>


<!-- Modal -->
<% if controller_name == "lists"%>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @list do |f| %>
            <%= f.input :name %>
            <%= f.input :photo, as: :file%>
        </div>
        <div class="modal-footer">
            <%= f.submit class: "btn btn-secondary rounded-pill"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
